<!-- Modal -->
<style>
    .modal-content {
      background-color: #212121
    }
</style>
<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Change password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" style="color:white">
            <div class="modal-body">
                <div class="signup-form">
                        {{ form.hidden_tag() }}
                        <h1 class="h3 mb-3 font-weight-normal mt-3">
                            Change the password of your Account
                        </h1>
                        <hr>

                        {{ form.old_password.label(class="mt-2") }}
                        {{ form.old_password(class="form-control", placeholder="User Name", required="required") }}

                        {{ form.new_password.label(class="mt-2") }}
                        {{ form.new_password(class="form-control", placeholder="Email Address", required="required") }}

                        {{ form.confirm_new_password.label(class="mt-2") }}
                        {{ form.confirm_new_password(class="form-control", placeholder="Password", required="required") }}

                        <br>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {{ form.submit(class="btn btn-lg btn-block btn-primary", type="button", data-dismiss="modal") }}
                <button  class="btn btn-primary" >submit</button>
            </div>
        </form>
        </div>
    </div>
</div>
