
<!-- Modal -->
<div class="modal fade" id="termsOfUse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Terms of use</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Nibh tortor id aliquet lectus. Sit amet justo donec enim. Cras adipiscing enim eu turpis egestas pretium aenean pharetra magna.
        Bibendum at varius vel pharetra. Ultricies mi quis hendrerit dolor magna eget est lorem ipsum. Ac placerat vestibulum lectus
        mauris ultrices eros in. Cras tincidunt lobortis feugiat vivamus at augue eget arcu. Ultricies tristique nulla aliquet enim
        tortor at auctor urna. Id diam maecenas ultricies mi. Tellus integer feugiat scelerisque varius morbi enim nunc faucibus.
        Viverra mauris in aliquam sem fringilla ut morbi tincidunt. At erat pellentesque adipiscing commodo. Eget est lorem ipsum
        dolor sit amet. Eget nunc scelerisque viverra mauris in aliquam sem fringilla.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    </div>
</div>
</div>
